<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- No internet, storage-all-files, boot receiver, daemon, or install permission. -->
    <application android:label="杜比模块生成器" android:theme="@android:style/Theme.Material.NoActionBar"
        android:icon="@drawable/ic_app" android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
